{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "airbnb-base", "prettier", "prettier/react"],
  "plugins": ["only-warn", "prettier", "react", "jest"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "warn",
    "no-console": 0,
    "quotes": ["warn", "single"],
    "import/no-named-as-default": 0,
    "no-param-reassign": 0
  }
}
