@media (min-width: 576px) {
  .ModalDialog {
    min-height: calc(100% - 3.5rem);
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

.ModalDialog {
  pointer-events: none;
  min-height: calc(100% - 1rem);
}

.Modal {
  z-index: 1072;
}

.ModalContent {
  pointer-events: auto;
  background-clip: padding-box;
}

.BlackOffset {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}
