.Note button.DeleteNote {
  transition: opacity 0.5s ease-in-out;
}

/* MOBILE */
@media (hover: none) and (pointer: coarse) {
  .Note button.DeleteNote {
    opacity: 1;
  }
}

/* DESKTOP */
@media (hover: hover) and (pointer: fine) {
  .Note:hover button.DeleteNote {
    opacity: 1;
  }
}
