.Header {
  background-color: #fff;
  padding: 0 14px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1366.1px) {
  .Header {
    border-radius: 5px 5px 0px 0px;
    padding: 0 19px;
  }
}
.LogoDiv {
  width: 5.3rem;
  margin: 10px 0px;
}

.Logo {
  width: 50px;
  height: auto;
  margin: -10px 0px;
}

.NotificationIcon {
  width: 28px;
  height: auto;
}

.NotificationIcon:hover {
  filter: opacity(0.7);
  transition: filter 0.15s ease-in-out;
}

.SpacerHeader {
  border-left: solid 3px #f7f8f9;
  height: 39px;
  width: 3px;
}

.ProfileImageIcon {
  max-width: 46px;
}

.Header > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Header .UserMenu:active {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}
