.SidebarMenu {
  height: auto;
  background-color: #fff;
  box-shadow: 0px -2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 5px;
}

.BoardIcon {
  width: 35px;
  height: auto;
}

.BoardOption {
  padding: 14px 0;
  margin: 0 0 10px 0;
}

.BoardOption:first-of-type {
  margin: 10px 0 10px 0;
}

.AddBoardIcon {
  width: 32px !important;
  height: auto;
}

.AddBoardOption {
  padding: 14px 0;
  margin: 0 0 20px 0;
}

.AddBoardOption button:hover {
  opacity: 0.7;
  transition: opacity 0.12s ease-in-out;
  color: rgb(248, 248, 248);
}

.SettingsIcon {
  width: 32px !important;
  height: auto;
}

.SettingsMenuOption {
  padding: 20px 0 25px 0;
}

.SettingsMenuOption .SettingsIcon:hover {
  opacity: 0.7;
  transition: opacity 0.12s ease-in-out;
}

.MenuSettings {
  bottom: 75%;
  left: 30%;
  width: 100%;
  min-width: 110px;
  min-height: 120px;
}

.BoardOption:not(.BoardOptionSelected):hover {
  opacity: 0.7;
  transition: opacity 0.12s ease-in-out;
  background-color: rgb(248, 248, 248);
}

.BoardOptionSelected {
  border-left: solid 3px #7faff9;
  cursor: unset !important;
}
