.SidebarMenu {
  width: 5.6rem;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 0 5px;
}

.BoardIcon {
  width: 27px;
  height: auto;
}

.BoardOption {
  margin: 0 0 10px 0;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.BoardOption button {
  padding: 14px 0;
}

.BoardOption:first-of-type {
  margin: 10px 0 10px 0;
}

.AddBoardOption {
  padding: 14px 0;
  margin: 0 0 20px 0;
}

.AddBoardOption button:hover {
  opacity: 0.7;
  transition: opacity 0.12s ease-in-out;
  color: rgb(248, 248, 248);
}

.DeleteBoardButton {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease;
  background-color: rgb(255, 177, 177);
  box-shadow: inset -3px 0px 4px -4px rgba(0, 0, 0, 0.38);
}

.SettingsMenuOption {
  padding: 20px 0 25px 0;
}

.SettingsMenuOption .SettingsIcon:hover {
  opacity: 0.7;
  transition: opacity 0.12s ease-in-out;
}

.MenuSettings {
  bottom: 75%;
  left: 30%;
  width: 100%;
  min-width: 110px;
  min-height: 120px;
}

.BoardOption:not(.BoardOptionSelected):hover {
  opacity: 0.7;
  transition: opacity 0.12s ease-in-out;
  background-color: rgb(248, 248, 248);
}

.BoardOptionSelected {
  border-left: solid 3px #7faff9;
  cursor: unset !important;
}

@media (max-width: 510px) {
  .SidebarMenu {
    width: 5.2rem;
  }
}
